body {
    margin: 0;
    background: lightblue;
    font-size: 1rem;
    padding: 0;
    text-align: center;
}
#two {
    position: relative;
    width: 75%;
    margin: 0 auto;
}
.add {
    margin-top: .5rem;
    cursor: pointer;
    border-radius: 50px;
    background: #7BE495;
    color: white;
    padding: 10px;
    border: none;
    position: relative;
    transition: all 1s cubic-bezier(0.13, 0.77, 1, 0.18) 1ms;
}
.add:hover{
    background: #c76597;
}
.container-1 {
    max-width: 875px;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    box-shadow: 5px 5px 10px grey;
}
.column-1 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content :center;
}
.column-1 input[type="text"] {
    text-align: center;
    margin-right: 1rem;
    padding: .5rem;
}
.column-2 {

    display: flex;
    flex-direction: column;
}

.name {
    padding: 1rem;
    margin-top: 0;
    background: pink;
    border-radius: 20px 10px;
}
#textbox {
    font-size: 1rem;
    font-family: Coronetscript, cursive;
    width: 75%;
    margin: 0 auto;
    cursor: auto;
}
li {
    letter-spacing: .10rem;
}


i {
    padding: 1rem 10%;
}

@media(max-width: 975px) {
    #textbox {
        font-family: Arial, Helvetica, sans-serif;
    }
    li {
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
    }
}